
#chart {
    background: #fff !important;
    width: 90%;
    margin: 1em auto;
  }
  
  .c3 path, .c3 line, .tick text { 
    stroke: white;
  }
  
  .tags {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    display:flex;
    align-items: center;
    flex-direction: row;
    background-color: white !important;
    justify-content: flex-start;
  }
  .tag{
    border:none;
    outline:none;
    background-color: #d50b33;
    vertical-align: middle;
    color:white;
    font-weight: bold;
    padding:10px;
    margin:0px 10px;
    display: inline-block;
    border-radius: 15px;
    height: 30px;
    text-transform: capitalize
  }
  
  .tag_inactive{
    border:none;
    outline:none;
    background-color: grey;
    color:white;
    font-weight: bold;
    padding:10px;
    margin:0px 10px;
    display: inline-block;
    border-radius: 15px;
    height: 30px;
    text-transform: capitalize
  }
  
  .tag:hover{
    cursor: pointer;
    background-color: grey;
  }
  
  .tag_inactive:hover{
    cursor: pointer;
    background-color: #d50b33;
  }