.Drag{
  border: 1px solid #eee;
  border: dotted 2px #ccc;
  padding: 10px;
}
.icon{
  color: grey;
  font-size: 150px !important;
}

.drag{
  font-weight: bold;
}

.browse{
  color:grey;
  font-size: 15px !important;
}

.info {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}