.Drag{
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px 40px;
  display:flex;
  flex-direction: row;
  background-color: #40A4C8 !important;
  justify-content: space-between;
}

.Drag_title{
  font-weight: bold;
  color:white;
}

.Drag_input{
  font-weight: normal !important;
  color: black !important;
  padding: 0px 10px
}

.Drag_input:hover{
  cursor: pointer;
  outline: none;
}

.icon{
  color: grey;
  font-size: 150px !important;
}

.drag{
  font-weight: bold;
}

.browse{
  color:grey;
  font-size: 15px !important;
}

.info {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
}

.bold{
  font-weight: bold;
}

.wrapper{
  margin: 10px auto;
  display:flex;
  flex-direction: column;
}

.file {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  display:flex;
  flex-direction: row;
  background-color: white !important;
  justify-content: space-between;
}

.tags {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  display:flex;
  align-items: center;
  flex-direction: row;
  background-color: white !important;
  justify-content: flex-start;
}
.tag{
  border:none;
  outline:none;
  background-color: #d50b33;
  vertical-align: middle;
  color:white;
  font-weight: bold;
  padding:10px;
  margin:0px 10px;
  display: inline-block;
  border-radius: 15px;
  height: 30px;
  text-transform: capitalize
}

.tag_inactive{
  border:none;
  outline:none;
  background-color: grey;
  color:white;
  font-weight: bold;
  padding:10px;
  margin:0px 10px;
  display: inline-block;
  border-radius: 15px;
  height: 30px;
  text-transform: capitalize
}

.tag:hover{
  cursor: pointer;
  background-color: grey;
}

.tag_inactive:hover{
  cursor: pointer;
  background-color: #d50b33;
}

.file_info{
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0px 30px;
  border-right: lightgrey solid 0.5px;
}

.patient_info{
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0px 10px;
}

.file_active{
  display:flex;
  flex-direction: column;
  color: #40A4C8;
  padding: 0px 30px;
  border-right: lightgrey solid 0.5px;
}

.file_active:hover{
  cursor: pointer;
}

.file_info:hover{
  color: #40A4C8;
  cursor: pointer;
}

.file_icon{
  display:flex;
  font-size: 30px;
  padding: 0px 30px;
  color: #d50b33;
  align-items: center;
}

.file_icon:hover{
  color: grey;
  cursor: pointer;
}

#chart {
  background: #fff !important;
  width: 90%;
  margin: 1em auto;
}

.c3 path, .c3 line, .tick text { 
  stroke: white;
}