.chart {
    background: #fff;
    width: 90%;
    margin: 1em auto;
  }

  .container{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
  }

.wrapper {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: column;
    justify-content: space-between;
    display:flex;
    width: 49%;
    background-color: white !important;
}

.title{
  padding: 10px;
  width: 90%;
  color: #40A4C8;
  font-weight: bold;
  display:flex;
}  

.category{
  color: #d50b33;
  margin: 0px 10px;
}